PROJECT_ID=nannieai-website-stealth
REGION=europe-west4
REPOSITORY=opensora-serving-api
IMAGE_NAME=opensora-api
TAG=v1.0.3
WEIGHT_BUCKET=nannie-opensora-weights-so
WEIGHT_PREFIX=ckpts/
MODEL_PATH=/app/ckpts
FORCE_DOWNLOAD=false
PORT=8080
JOB_RETENTION_SECONDS=3600
MAX_COMPLETED_JOBS=100
DEFAULT_RESOLUTION=256px
DEFAULT_NUM_FRAMES=49
DEFAULT_ASPECT_RATIO=16:9
GENERATION_TIMEOUT=1800
MACHINE_TYPE=a2-ultragpu-1g
ACCELERATOR_TYPE=nvidia-a100-80gb